<!DOCTYPE html>
<html>
  <head>
    <title>Datcord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Datcord" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="Datcord is a full stack clone of Discord where users can create servers and send messages in a live chat."
     />
     <meta property="og:url"
       content="https://datcord-bl.herokuapp.com"
     />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.cdnfonts.com/css/whitney-2" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <script type="text/javascript">
      window.background_session = "<%= image_url('background-session.png') %>";
      window.logo = "<%= image_url('logo.png') %>";
      window.splash_background = "<%= image_url('splash-background.svg') %>";
      window.splash_left = "<%= image_url('splash-left.svg') %>";
      window.splash_right = "<%= image_url('splash-right.svg') %>";
      window.splash_section_1 = "<%= image_url('splash-section-1.svg') %>";
      window.splash_section_2 = "<%= image_url('splash-section-2.svg') %>";
      window.splash_section_3 = "<%= image_url('splash-section-3.svg') %>";
      window.error_modal_icon = "<%= image_url('error-modal-icon.png') %>";
      window.default_user_icon = "<%= image_url('default-user-icon.png') %>";
      window.hashtag = "<%= image_url('hashtag.png') %>";
      window.down_arrow = "<%= image_url('down-arrow.png') %>";
      window.x_button = "<%= image_url('x-button.png') %>";
      window.discord_icon = "<%= image_url('discord-icon.png') %>";
      window.friend = "<%= image_url('friend.png') %>";
      window.message = "<%= image_url('message.png') %>";
      window.bin = "<%= image_url('bin.png') %>";
    </script>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
